alias cat='bat'
alias find='fd'
alias grep='rg'
alias ls='eza'
alias od='hexyl'
alias ps='procs'
alias vim='nvim'

alias ll='ls -al'

alias fcd=cd-fzf
alias cr=ghq-fzf
alias fvim=vi-fzf

case ${OSTYPE} in
  darwin*)
    alias smerge='open -b com.sublimemerge'
  ;;
esac

function cd-fzf() {
  moveto=./$(ls -d */ | fzf --reverse)
  cd $moveto
}

function ghq-fzf() {
  moveto=$(ghq root)/$(ghq list | fzf --reverse)
  cd $moveto
}

function vi-fzf() {
  moveto=./$(find . -d 1 --type f | fzf --reverse)
  vim $moveto
}
